a {
    color: #34495e;
}

/* Design for Login page */
.box {
	width: 500px;
	padding: 40px;
	top: 50%;
	left: 50%;
    position: absolute;
    background-color: #ecf0f1;
	transform: translate(-50%,-50%);
	text-align: center;
	border-radius: 24px;
}
.box > p {
    font-size: 14px;
}
.box h1{
	color: #34495e;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type="text"], .box input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 2px solid #95a5a6;
	padding: 14px 10px;
	width: 300px;
	outline: none;
	color: #000;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type="text"]:focus ,.box input[type="password"]:focus{
	width: 380px;
	border-color: #34495e;
}
.box input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 25px auto;
	text-align: center;
	border: 2px solid #34495e;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: #2c3e50;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type="submit"]:hover {
    background: #34495e;
    color: #fff;
}

