extends ./layout/common.pug

block content

	h1.animated.bounceInUp.delay-.5s 国際アニメーション専門学校ITコース
	h4
		a.animated.fadeInUp.delay-1s(href="/student") 学生
	h4
		a.animated.fadeInUp.delay-1s(href="/student") 先生