extends ../layout/common.pug

block content
	.row
		.col-auto.mr-auto
			h1 Students List
		.col-auto
			button.btn.btn-outline-success.my-2.my-sm-0
				a(href="./student/create") Create
	.row
		each student in students
			.col-sm-6.col-md-4.col-lg-3
				.card.mb-3
					img.card-img-top(src="./images/1.jpg" height="170px")
				.card-body
					h6.card-title Name : #{student.name}
					p.card-text Country : #{student.country}
					a.btn.btn-primary(href='/student/detail/' + student.id) See more