html
	head
		title 国際アニメーション専門学校ITコース
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
		link(rel="stylesheet" href="/style/style.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='/')
				img(src='/images/logo.png' width='170px')
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='/') ホーム
					li.nav-item
						a.nav-link(href='/student') 学生
					li.nav-item
						a.nav-link(href='/teacher') 教師
					li.nav-item
						a.nav-link(href='/admin') ログイン
					li.nav-item
						a.nav-link(href='/admin/signup') 登録
				form.form-inline.my-2.my-lg-0(action='/student/search' method='get')
					input.form-control.mr-sm-2(type='search' aria-label='Search' name='q')
					button.btn.btn-outline-success.my-2.my-sm-0(type='submit') 検索
				if(cookie)
					p.my-lg-0.ml-3
						img(src="/images/favicon.svg", alt="",width='50px')


		.container.pt-5
				block content